/* #BC9A5F */
@font-face {
  font-family: Blacker;
  src: url("./assets//blacker-sans-display-trial.light.ttf");
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #bc9a5f;
}

body {
  margin: 0;
  padding: 0;
  color: #bc9a5f;
  font-family: "Poppins", cursive;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #f8f6f4;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  width: 30%;
  font-family: "Poppins", cursive;
}

nav ul li {
  padding: 10px;
  cursor: pointer;
}

.company-logo {
  font-family: "Abril Fatface", cursive;
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
}

.list-ul-1 {
  justify-content: start;
}

.list-ul-2 {
  justify-content: end;
}

.book-room-guests-no-dum {
  display: none;
}

.hero-image {
  flex-grow: 1;
  height: 80vh;
  background-image: linear-gradient(
      to bottom,
      rgba(11, 11, 11, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://www.itchotels.com/content/dam/itchotels/in/umbrella/images/headmast-desktop/welcomhotel-bhubaneswar.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image h1 {
  font-family: "Abril Fatface", cursive;
  color: #e6dfd0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: lighter;
}

.hero-image p {
  color: #e6dfd0;
  font-family: "Poppins", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-direction: column;
}

.rooms {
  display: flex;
  gap: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 700px;
  white-space: nowrap;
}

.book-room {
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
  border-bottom: 1px solid #bc9a5f;
  flex-wrap: wrap;
}

select {
  border: none;
  color: #bc9a5f;
}
.check-availabilty i {
  margin-left: 4px;
}
.date-input {
  padding: 5px;
  width: 85%;
  border-radius: 10px;
  border: none;
  color: rgb(252, 251, 251);
  font-size: 14px;
  color: #bc9a5f;
}
.book-room div {
  border-right: 1px solid #bc9a5f;
  padding: 20px;
}

.services {
  display: flex;
  padding: 20px;
  margin-bottom: 100px;
}
.service-room {
  border: 1px solid #bc9a5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 150px;
  width: max(70%, 200px);
  height: 500px;
}

.room-name {
  font-family: Blacker;
  font-size: 2rem;
  border-bottom: 2px solid #bc9a5f;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  display: none;
}
.room-description {
  color: black;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-top: 20px;
  max-width: 350px;
  text-overflow: clip;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.service-room img {
  width: min(300px, 90%);
  height: min(150px, 90%);
  margin-top: 30px;
}
.room-discover {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-discover:hover {
  scale: 1.1;
}
.amenities {
  display: flex;
  flex-direction: column;
}

.amenity-heading {
  text-transform: uppercase;
  text-align: center;
  margin: 40px;
  font-weight: lighter;
  padding: 10px;
  font-size: 2.4rem;
  font-family: Blacker;
}

.amenities-list {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #bc9a5f; */
  padding: 0;
}

.amenities-item {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
  /* margin: 10px; */
  /* width: 20px; */
  /* padding: 20px 40px; */
}
.amenities-item i {
  font-size: 1.5rem;
}

.amenities-item span {
  font-size: 0.8rem;
}

footer {
  height: 100px;
}

.footer-heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  padding: 10px;
  border-top: 1px solid #bc9a5f;
  font-family: Blacker;
  padding-top: 4rem;
}

.footer-sections {
  display: flex;
  justify-content: space-around;
}

.section-item {
  padding: 0;
  margin: 0;
}
.footer-section {
  margin-top: 4rem;
}

@media only screen and (max-width: 850px) {
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  .rooms {
    display: flex;
    flex-direction: column;
    gap: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }
  .footer-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: auto;
  }

  .book-room {
    display: none;
  }
}
